<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/@themesberg/flowbite@latest/dist/flowbite.bundle.js"></script>
    <title>Category-badge-scroll</title>
  </head>
  <body>
    <section
      id="category"
      class="mt-2 flex flex-nowrap overflow-x-auto space-x-8 w-full no-scrollbar"
    >
      <div
        class="whitespace-nowrap rounded-full bg-blue-500 px-2.5 py-0.5 text-base text-white mr-3"
      >
        All
      </div>
      <div
        class="whitespace-nowrap rounded-full px-2.5 py-0.5 text-base text-gray-400 mr-3 border-2 border-gray-200"
      >
        Sport
      </div>
      <div
        class="whitespace-nowrap rounded-full px-2.5 py-0.5 text-base text-gray-400 mr-3 border-2 border-gray-200"
      >
        Scooty
      </div>
      <div
        class="whitespace-nowrap rounded-full px-2.5 py-0.5 text-base text-gray-400 mr-3 border-2 border-gray-200"
      >
        Other 1
      </div>
      <div
        class="whitespace-nowrap rounded-full px-2.5 py-0.5 text-base text-gray-400 mr-3 border-2 border-gray-200"
      >
        Other 2
      </div>
      <div
        class="whitespace-nowrap rounded-full px-2.5 py-0.5 text-base text-gray-400 mr-3 border-2 border-gray-200"
      >
        Other 3
      </div>
    </section>
  </body>
</html>
